.large-screen {

}

.large-screen-card {
    height: 250px;
    width: 220px;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0, 0.1);
}
.large-screen-card-image {
    margin-top: 20px;
}
.large-screen-card-sales {
    flex-direction: row;
    width: 100%;
}
.small-screen-card {
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: rgba(0,0,0, 0.1);
}
.small-screen-card-image {
    height: 36px;
    width: 36px;
    border-radius: 18px;
}
.small-screen-card-sales {
    height: 100%;
    flex-direction: column;
    font-size: x-small;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}